@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional custom styles for the starter UI */
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --accent-color: #f2c97d;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-text-glow {
  text-shadow: 0 0 10px var(--accent-color);
}
